header{
    position: relative;
    background: #E50914;
    text-align: center;
    padding: 7px 0;
}

header h1{
    margin: 0;
    color: #fff;
    font-size: 22px;
}

header .version{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    color: #fff;
}

#netflixSubs{
    margin: 10px 10px;
}

.alert-danger{
    margin-bottom: 0;
}

.fa-spin{
    color: #E50914;
}

.btn-download{
    background: #E50914;
    color: #fff;
    border-color: #E50914;
}