#netflix-player.player-cinema-mode #netflixSubs,
#netflix-player.null #netflixSubs{
    display: none;
}

#netflixSubs{
    position: absolute;
    top: 11em;
    left: 5em;
    z-index: 3;
}

.netflixSubsIcon{
    cursor: pointer;
    width: 1em;
    height: 1em;
    font-size: 6.8em;
    font-weight: 700;
    color: #dadada;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;
}

.netflixSubsIcon:before{
  content: "+";
}

.netflixSubsDiv{
    position: absolute;
    top: 0;
    left: 75px;
    padding: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #000;
    font-size: 18px;

    background: #fff;
    width: 150px;
}

#netflixSubsDownload{
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border: none;
    background: none;
    outline: none;

    color: #000;
}